{% extends 'blog/base.html' %}

{% block content %}

<article class="flexContainer">

  <article class="flexContatiner story">
    <h1 class="title">{{ post.postProgress }}</h1>
  
    <div class="flexContainer">
      <img src="{{ post.cat_image.url }}">
    </div>

    <p class="text">{{ post.story|linebreaksbr }}</p>

    <div class="flexContainer">
      <img src="{{ post.riddle_image.url }}">
    </div>
  </article>

  <hr>

  <article class="flexContainer riddle">

    <h1 class="title">{{ post.title }}</h1>

    <p class="narration">{{ post.riddle|linebreaksbr }}</p>

    <form class="answer" method="POST" autocomplete="off">{% csrf_token %}
      {{form.answer}}
    </form>

    {% if post.hint != "" %}
    <div class="container hint">
      <div class="item hint">
        <input class="hint" type="checkbox" id="box-1">
        <label for="box-1" class="hint">HINT</label>
        <div class="hint">
          <p class="hint">{{ post.hint }}</p>
        </div>
      </div>
    </div>
    {% endif %}

  </article>

</article>

{% endblock %}
