body {
  width: 100%;
  background-color: black;
  background-attachment: fixed;
  font-family: 'Lucida Grande', Verdana, Arial;
  font-size: 12px;
  background-image: radial-gradient(900px 800px at center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0), black);
  background-repeat: no-repeat;
  margin: 0 0;
  padding-top: 72px;
}

html * {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* Navigation Part */
.navbar-inverse {
  background: black;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background: #23313f;
}

.navbar-inverse .navbar-brand {
  color: white;
}


hr {
  width: 80%;
  margin: 0 auto;
}

/* body에 flex를 적용할 수 있다면 삭제 가능 */
.flexContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 본문 */
.title {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #ff5c00;
  margin: 0px auto 20px auto;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.narration {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: white;
  margin-top: 0px; 
}